db
greybox_tmp
incremental_db
output_files
simulation
hc_output
scaler
hps_isw_handoff
vip
*_sim
.qsys_edit
PLLJ_PLLSPE_INFO.txt
*.bak
*.orig
*.rej
*.qdf
*.rpt
*.smsg
*.summary
*.done
*.jdi
*.pin
*.sof
*.qws
*.ppf
*.ddb
build_id.v
c5_pin_model_dump.txt
*.sopcinfo
*.csv
*.f
*.cmp
*.sip
*.spd
*.bsf
*~
*.xml
*.cdf
*.qarlog
qar_info.json
verilator/x64/Release/
verilator/obj_dir/
verilator/.vs/sim/v17/Browse.VC.db
verilator/.vs/sim/FileContentIndex/bece51d1-47b4-4ece-9f5a-944764445d1a.vsidx
verilator/.vs/sim/FileContentIndex/64d6efd8-8020-4646-be31-ce519be691e1.vsidx
verilator/.vs/sim/FileContentIndex/98e0bd03-d289-4147-aae2-ebaa9df9d7fc.vsidx
verilator/.vs/sim/FileContentIndex/0178de13-5516-45e8-913b-76918633c7e3.vsidx
verilator/.vs/sim/FileContentIndex/472ec043-cbb3-48fc-a9c1-fdb20b13f9ff.vsidx
verilator/.vs/sim/v17/ipch/AutoPCH/6cb4a01b6c9dec7/VERILATED.ipch
verilator/.vs/sim/FileContentIndex/5d727301-233e-4ab5-afc9-1fda47bacaf0.vsidx
verilator/.vs/sim/FileContentIndex/45a5991c-af6e-4a8f-bd35-0a35f8dde51e.vsidx
verilator/.vs/sim/FileContentIndex/eea1f40f-0ba8-48da-aeca-8f3d991f1d38.vsidx
verilator/.vs/sim/FileContentIndex/79d387e0-48ec-4a08-a25f-f7078ff73223.vsidx
